.btn {
	background: $button-background;
	border: 2px solid $button-border-color;
	border-bottom-color: $button-border-shadow-color;
	border-radius: 8px;
	border-top-color: $button-border-highlight-color;
	color: $button-text-color;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 1em;
	margin-right: 1em;
	padding: 8px 20px;
	text-decoration: none;

	&:last-child {
		margin-right: 0;
	}

	&:active,
	&:hover:not(:disabled),
	&:focus:not(:disabled) {
		background-color: $button-background-hover;
		border-color: $button-border-hover-color;
		border-bottom-color: $button-border-shadow-hover-color;
		border-top-color: $button-border-highlight-hover-color;
		color: $button-text-hover-color;
	}

	&:active {
		background-color: $brand-colour;
		color: $button-text-active-color;
	}

	&:disabled,
	&.disabled {
		cursor: not-allowed;

		background: $button-background;
		border-color: $button-border-highlight-color;
		color: #999;

		&:active,
		&:hover,
		&:focus {
			background: $button-background;
			border-color: $button-border-highlight-color;
			color: #999;
		}
	}
}

.tab {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    position: relative;
	margin-bottom: 0;
}

.tab > * {
    flex: none;
    position: relative;
	margin-bottom: 0;
}

.tab > * > a {
    display: block;
    text-align: center;
    padding: 9px 20px;
	border: 1px solid #fafafa;
    border-bottom: 4px solid $button-border-color;
    transition: color .1s ease-in-out;
    line-height: 20px;

	color: $button-text-color;
	font-weight: bold;

	&:active,
	&:hover:not(:disabled),
	&:focus:not(:disabled) {
		color: $button-border-shadow-hover-color;
		border-bottom-color: $button-border-shadow-color;
	}

	&:active {
		color: $button-border-shadow-hover-color;
		border-bottom-color: $button-border-shadow-color;
	}
}

.tab > .active > a {
	color: $button-border-shadow-hover-color;
	border-bottom-color: $button-border-shadow-color;
}

.tab > li > a {
    text-decoration: none;
    cursor: pointer;
}

.tab-content {
    padding: 0.75em;
	border: 1px solid $button-border-color;
	border-radius: 0 0 8px 8px
}

.tab-content > li {
    display: none;
}

.tab-content > li.active {
    display: initial;
}