table {
	width: 100%;
	margin-bottom: 1.75em;
}

tr {
	border-bottom: 1px solid #E0E0E0;

	tbody &:last-of-type {
		border-bottom: none;
	}
}

tr:nth-child(even) {
	background: #fbfbfb;
}

td, th {
	border-left: 1px solid #f0f0f0;
	padding: 8px;
	text-align: left;
	vertical-align: top;

	&:first-of-type {
		border-left: none;
	}
}

th {
	padding-bottom: 4px;
}
